/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 févr. 2020, 21:14:02
    Author     : Sebastien Canet <scanet@libreduc.cc>
*/

/* Table */
.table_wrapper {
    height: -moz-calc(100%);
    width: -moz-calc(100%);
    /* WebKit */
    height: -webkit-calc(100%);
    width: -webkit-calc(100%);
    /* Opera */
    height: -o-calc(100%);
    width: -o-calc(100%);
    /* Standard */
    height: calc(100%);
    width: calc(100%);
    padding: 0px;
}
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    /* Firefox */
    height: -moz-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    /* WebKit */
    height: -webkit-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    /* Opera */
    height: -o-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    /* Standard */
    height: calc(100% - 5px);
    width: calc(100% - 5px);
}
table table {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
td {
    padding: 0;
    vertical-align: top;
}
td.td_wrapper {
    border: none;
    height: 100%;
}
#content_hoverButton {
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    font-size: large;
    color: #FFFFFF;
}

.blocklyToolboxDiv {
    background-color: #F8F8F8;
}

.blocklyDuinoText {
    vertical-align: middle;
    color: #FFFFFF;
    font-weight: bold;
}
.blocklyDuinoTextSmall {
    vertical-align: middle;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
}

.iconButtons{
    height:36px;
    width: 36px;
    vertical-align: middle;
    background: #4DB7BB;
    color: #006468;
    font-size: large;
}
.iconButtons:hover{
    background: #FFFFFF;
    color: #000000;
    cursor : pointer;
}
.iconButtons:active{
    background: #FFCC00;
}
.iconButtons:active::after {
    transition-property: background;
    transition-duration: 10s;
}
.iconButtons:disabled{
    background: #F3F1EF;
    color: #006468;
    cursor : not-allowed;
}

.iconButtonsClicked{
    height:36px;
    width: 36px;
    vertical-align: middle;
    background: #FFCC00;
    color: #006468;
    font-size: large;
}
/* surcharger .iconButton */
#boardMenu, #serialMenu{
    color: #000000;
    font-size:large;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* boutons classiques */
/* #undoButton{ */
    /* border-radius: 50%; */
/* } */
/* #redoButton{ */
    /* border-radius: 50%; */
/* } */
#verifyButton{
    border-radius: 50%;
}
#uploadButton{
    border-radius: 50%;
}
#serialConnectButton{
    border-radius: 50%;
}
#resetButton{
    background: #FF0000;
}
#resetButton:hover{
    background: #FFFFFF;
}
td.tabMiddle {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
}
#helpButton{
    border-radius: 10px;
    cursor: help;
}
#copyCodeButton{
	position: absolute;
	top: 105px;
	right: 5px;
    border-radius: 10px;
}

#barre_h{
    padding : 0px;
    margin : 0px;
    width: 100%;
    background-color : #018790;
}

/* Content blocks */
.content_wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #eee;
    overflow: hidden;
    display: block;
}
.content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    direction: ltr;
    display: block;
}
.content_blocks{
    width: 100% !important;
    overflow: hidden;
}
/* side panel */
.content_blocks_side {
    /* Firefox */
    width: -moz-calc(100% - 350px) !important;
    /* WebKit */
    width: -webkit-calc(100% - 350px) !important;
    /* Opera */
    width: -o-calc(100% - 350px) !important;
    /* Standard */
    width: calc(100% - 350px) !important;
    overflow: hidden;
    float: left;
}
.side_content {
    width: 350px;
    height: 100%;
    right: 0px;
    bottom: 0px;
    float: right;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #ffffff;
    overflow: auto !important;
    display: none;
}
.arduino_code_peek {
    /* Firefox */
    width: -moz-calc(100% - 10px) !important;
    /* WebKit */
    width: -webkit-calc(100% - 10px) !important;
    /* Opera */
    width: -o-calc(100% - 10px) !important;
    /* Standard */
    width: calc(100% - 10px) !important;
    padding: 5px;
}
.arduino_code_peek_content {
    border: 0;
    overflow: visible;
    white-space: pre !important;
}
.content_arduino {
    resize: none;
    outline: none;
    border: none;
    font-family: monospace;
    overflow: scroll;
}
.content_arduino_new {
    background-color: blue;
    resize: none;
    outline: none;
    border: none;
    font-family: monospace;
    overflow: scroll;
}
.setup_content {
    background-color: #006468;
    padding: 5px;
    margin: 0;
}